html
   head
      title Profile Page
   body
      if(type == "error")
         h3(style = "color:red") #{message}
      else
         h3 Profile

         div
         | Welcome,
         | #{username}
         br
         | Do you want to logout?
         form(action = "/logout", method = "GET")
            button(type = "Submit") Logout
         
